@font-face {
    font-family: 'wallingtonregular';
    src: url('fonts/wallingtonregular-pyk7-webfont.woff2') format('woff2'),
         url('fonts/wallingtonregular-pyk7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}



#header {
    background-color: #204051;
    position: relative;
    display: flex;
    white-space: nowrap;
    top: 0;
    width: 100%;
    height: 3em;
    justify-content: space-between;
    border-bottom: 2px solid black;
    font-size: 17px;
}

#hamburger-menu {
    position: relative;
    left: 0;
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border: thin solid black;
    border-radius: 50px;
}

#title {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 3px;
    margin-right: 15px;
}

#container {
    position: absolute;
    background-color: black;
    width: 100%;
    max-width: 100%;
}

#content {
    position: relative;
    display: flex;
    height: calc(100vh - 53px);
    width: 100%;
}

#menu {
    position: relative;
    height: inherit;
    width: 300px;
    background-color: white;
    border-right: 2px solid black;
}

#interface {
    position: relative;
    background-color: #222831;
    width: 100%;
    height: inherit;
}

#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #ada59a;
    height: 50px;
}

#add-project {
    float: right;
    margin-right: 10px;
    padding: 5px;
}

#menu-title {
    color: black;
    margin-left: 5px;
}

#menu-content {
    background-color: #e7dfd5;
    position: relative;
    height: calc(100vh - 103px);
    max-height: calc(100vh - 100px);
    overflow: hidden;
}

.menu-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    min-width: 250px;
}

.menu-project:nth-of-type(odd){
    background-color: #d4d2cf;
}

.menu-project:nth-of-type(even){
    background-color: #f3efea;
}

.menu-project-title{
    width: auto;
    word-wrap: break-word;
    max-width: 173px;
    cursor: pointer;
}
.menu-project-options {
    margin-right: 15px;
    padding-top: 4.2px;
}

.menu-project-edit {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.menu-project-edit:hover {
    transform: translateY(.5px);
}

.menu-project-del:hover {
    transform: translateY(.5px);
}

.menu-project-del {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#project-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #204051;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);

}

#project-form{
    display: flex;
}

#project-name{
    margin-right: 5px;
    border: thin solid black;
    border-radius: 5px;
    font-size: 20px;
}

#submit-project{
    margin-left: 5px;
    padding: 0 5px 0 5px;
}

input[type=text]{
    padding-left: 5px;
}

.menu-project:first-of-type{
    height: 28.2px;
}

.menu-project:first-of-type .menu-project-options{
    display: none;
}

#tasks-container{
    position: relative;
    background-color: #204051;;
    width: 900px;
    min-width: 900px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

#tasks-header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
}

#task-title{
    display: flex;
    padding-top: 5px;
    padding-bottom: 15px;
    justify-content: space-between;
    color: white;
}

#interface-project-name{
    margin-left: 5px;
    margin-right: 10px;
}

#add-task{
    padding: 0 5px 0 5px;
    border: 2px solid #fdfdfd;
    background-color: #204051;
    font-size: 15px;
    border-radius: 10px;
    color: white;
}

#add-task:hover {
    background-color: #222831;
}

.task-container{
    border: 2px solid black;
    border-radius: 10px; 
    padding: 5px;
    margin-bottom: 5px;
}


#task-form-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #ada59a;
    box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

#task-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#add-task-submit{
    grid-column: span 2;
    border: 2px solid #fdfdfd;
    background-color: #204051;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;

}

#task-header{
    display: grid;
    grid-template-columns: 1fr repeat(4, 3fr) 1fr;
    justify-items: center;
    align-items: center;
    color: white;
    padding-bottom: 10px;
}

.task-container{
    display: grid;
    grid-template-columns: 13fr 1fr;
}

.task-props{
    display: grid;
    grid-template-columns: 1fr repeat(4, 3fr);
    justify-items: center;
}

.task-options{
    display: flex;
    justify-content: space-between;
}

.task-desc{
    max-width: 150px;
}

.task-status{
    height: 25px;
}

.priority-button{
    padding: 0 30px 0 30px;
    border: 2px solid #204051;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}